asttokens==2.0.8
async-timeout==4.0.2
backcall==0.2.0
casperfpga==0.4.4.dev1336+py38.276ee44
certifi==2022.9.14
charset-normalizer==2.1.1
circus==0.16.1
crcmod==1.7
Cython==0.29.32
decorator==5.1.1
Deprecated==1.2.13
eigsep-corr @ file:///home/eigsep/eigsep/eigsep_corr
executing==1.0.0
future==0.18.2
idna==3.4
ipython==8.5.0
jedi==0.18.1
katcp==0.9.1
katversion==1.2
matplotlib-inline==0.1.6
numpy==1.23.3
odict==1.9.0
packaging==21.3
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
ply==3.11
progressbar2==4.0.0
prompt-toolkit==3.0.31
psutil==5.9.2
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.13.0
pyparsing==3.0.9
python-utils==3.3.3
pyzmq==24.0.0
redis==4.3.4
requests==2.28.1
six==1.16.0
stack-data==0.5.0
tftpy==0.8.2
tornado==4.5.3
traitlets==5.4.0
urllib3==1.26.12
wcwidth==0.2.5
wrapt==1.14.1
